/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;

}

.hero {
  height: 1000px;
  background-image: url("/images/landing.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar {
  position: fixed;
  top: 0; 
  width: 100%;
  display: flex;
  padding: 15px 30px;
  background-color: white;
  left: 0;
  justify-content: space-between;
  align-items: center; 
  padding: 15px 30px;
  z-index: 1000;

}

.hero .navbar .logo img {
  width: 120px;
  display: block;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}   

.nav-links li {
    margin-left: 20px;
}   

.nav-links li a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: bold;
    font-size: 14px;
}

.music {
    color: white;
    font-size: 20px;
    text-align: center;
}

.music p {
      max-width: 700px
}
.whats-on {
  text-align: center;
  padding: 50px 20px;
}
.whats-on h2 {
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 3px solid #00B172;
  Padding-bottom: 10px;
  display: incline-block;
}

.container-features {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.container-features article {
  flex: 1;
  padding: 20px;
}

.container-features article img {
  width: 100px;
  margin-bottom: 20px;
}

.container-features h3 {
  margin-bottom: 15px;
  color: #00B172;
}
/*.green-section {
  background-color: #00B172;
  color: white;
  padding: 80px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
}
.green-content {
  background-color: #00B172;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1100px;
  align-items: flex-start;
  max-width: 1100px;
  position: relative;
}
.features-title {
  width: 40%;
  z-index: 2;
}
.features-title h2 {
  font-size: 34px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.sub-features {
  width: 45%;
  z-index: 2;
}

.green-content h2 {
  font-size: 34px;
  margin-bottom: 60px;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  display: inline-block;
}

.sub-features h3 {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.sub-features p {
  font-size: 16px;
  line-height: 1.5;
}
.logo-fondo {
  position: absolute;
}
img[alt="Spotify whitelogo"] {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: 1;
}

img[alt="Spotify App"] {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  display: block;
}*/
.green-section {
  background-color: #00B172;
  color: white;
  padding: 80px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
}
.green-content {
  background-color: #00B172;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1100px;
  align-items: flex-start;
  max-width: 1100px;
  position: relative;
  text-align: left;
}
.green-content h2 {
  font-size: 34px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  display: inline-block;

}
img[alt="Spotify whitelogo"] {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: 1;
}

img[alt="Spotify App"] {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  display: block;
}